
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.image {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 1rem 0;
}

.image img {
  width: 300px;
}


.image .chatter {
  padding: 0 1rem;
}

